html {
scroll-behavior:smooth;
scroll-padding: 60px;
}

header {
padding: 40px;
text-align: center;
background: #566637;
color: white;
font-size: 24px;
font-family: 'Poiret One', cursive;
}

nav {
position: sticky;
top: 0px;
text-align: center;
}

nav ul{
list-style-type: none;
margin-top: 0;
overflow: hidden;
background-color: #454543;
}

nav li{
float: left;
font-size: 14px;
}

nav a:link, nav a:visited {
display: block;
color:white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav a:hover, nav a:focus, nav a:active{
color: #454543;
background-color: white;
scroll-behavior:smooth;
}

body {
background-color:#E6E6E6;
text-align:center;
text-color:#454543;
}

nav, body, h1, h2{
font-family: 'Barlow', sans-serif;
}

h1 {
font-size 40px
}

p {
font-size:18px;
}

a {
color:#566637;
font-weight:bold;
text-decoration:none;
}
