
header {
padding: 40px;
text-align: center;
background: #566637;
color: white;
font-size: 24px;
font-family: 'Poiret One', cursive;
}

nav, body, h1, h2{
font-family: 'Barlow', sans-serif;
scroll-margin-top: 4rem;
}

nav {
position: sticky;
top: 0px;
}

nav ul{
list-style-type: none;
margin: 0;
overflow: hidden;
background-color: #454543;
}

nav li{
float: left;
font-size: 14px;
text-align: center;
}

nav a:link, nav a:visited {
display: block;
color:white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav a:hover, nav a:active, nav a:focus{
color: #454543;
background-color: white;
}

